{#
/**
 * @file
 * Default theme implementation to display a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'df-layout',
'df-layout--4-4-4',
settings.gap
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if settings.full_width %}
        <div class="container-fluid">
        {% else %}
        <div class="container">
        {% endif %}
            <div class="row">
            {% if content.first %}
                <div {{ region_attributes.first.addClass('col-sm-4','layout__region', 'layout__region--first') }}>
                    {{ content.first }}
                </div>
            {% endif %}

            {% if content.second %}
                <div {{ region_attributes.second.addClass('col-sm-4', 'layout__region', 'layout__region--second') }}>
                    {{ content.second }}
                </div>
            {% endif %}

            {% if content.third %}
                <div {{ region_attributes.third.addClass('col-sm-4', 'layout__region', 'layout__region--third') }}>
                    {{ content.third }}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}
