<ul{{ attributes.addClass(['menu', 'menu--' ~ menu_name|clean_class, 'nav', 'navbar-nav']) }}>
    {% for item in items %}
      {% set nav_item_classes = [
        'nav-item',
        item.in_active_trail ? 'active',
      ] %}
      <li{{ item.attributes.addClass(nav_item_classes) }}>
        {% if item.is_expanded %}
          <a href="{{ item.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ item.title }}</a>
            <div class="dropdown-menu mega-menu">
              <div class="{{ navbar_width }}">
                {{ item.content }}
              </div>
            </div>
        {% else %}
          <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
</ul>
